
body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    max-height: 579.16;
    flex: 1;
   
}
.header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    height: 48px;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 0px 120px;
    margin-bottom: -1.3px;
}
li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    gap: 14px;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-par {
    display: flex;
    background-color: #1f2937;
    align-items: left;
    flex-direction: column;
    text-align: left;
    /*this shit is so fucked*/
    padding: 144.5px 100px 204px 260px;
    flex-wrap: wrap;
    /*this fixes earlier problem with padding space issues*/
    max-width: 500px;
    min-width: 400px;
}
.angel {
    margin-left: 0px;
    padding-left: 180px;
    padding-top: 88px;
    padding-right: 260px;
    padding-bottom: 88px;
    background-color: #1f2937;
    
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: -20px;
}
.para {
    font-size: 18px;
    color: #e5e7eb;
}
.top-button {
    margin-top: -14px;
    border-color: #3882f6;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 0 14px 0;
    border-color: #f9faf8;
    border-radius: 6px;
}
.title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 14px;
    margin-top: 24px;
    margin-bottom: 14px;

}
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.info {
    max-width: 150px;
    text-align: center;
}
.last-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 60px 140px 0px;
    margin-top: 40px;
    margin-bottom: -40px;
}
.last-title {
    font-size: 18px;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;
    background-color: #e5e7eb;
    padding-right: 100px;
    padding-bottom: 60px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 35px;
    margin: 45px 140px 45px;
    border-radius: 6px 6px 0 0;
}
.titlefoot {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}
.parafoot {
    display:flex;
    color: #e5e7eb;
    margin: 45px 140px 45px;
    background-color: #3882f6;
    padding-left: 140px;
    margin-top: -60px;
    padding-bottom: 25px;
    border-radius: 0 0 6px 6px;
}
.bot-button {
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
}
