
body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    max-height: 579.16;
    flex: 1;
}
.header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    font-family:'Bebas Neue';
    height: 48px;
    background-color:white;
    font-size: 24px;
    padding: 12px 120px;
    margin-right: -100px;
    margin-bottom: -1.3px;
    margin-left: -100px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: -40px;
    overflow: hidden;
    gap: 14px;
}
.but1:hover {
    background-color: black;
    color: white;;
}
.but2:hover {
    background-color: white;
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 60px;
}

.top-par {
    display: flex;
    background-color: white;
    align-items: left;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    padding-right: 40px;
    min-width: 400px;
    max-width: 400px;
    margin-left: -180px;
}
.angel { 
    min-height: 579.16;
    margin-right: -180px;
}
h1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    font-weight: 800;
    color: black;
    margin-bottom: -20px;
}
.para {
    font-family: 'Bebas Neue';
    font-size: 18px;
    color: black;
}
.but1 {
    display: flex;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 2px 16px 4.5px;
    border-color:black;
    border-radius: 6px;
    max-width: 160px;
    justify-content: center;
}
.title {
    font-family: 'Bebas Neue';
    font-size: 42px;
    font-weight: 200;
    color: black;
    padding: 14px;
    margin-top: 24px;
    margin-bottom: 14px;

}
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}
.info {
    font-family: 'Bebas Neue';
    max-width: 300px;
    text-align: center;
}
.background { 
    background-color: white;
}
.last-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
    color:#342e8c;
    padding: 20px 140px 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    max-width: 1260px;
}
.last-title {
    font-size: 18px;
    color: #342e8c;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-right: 160px;
    margin-top: -40px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 35px;
    margin: 45px 140px 30px;
    border-radius: 6px 6px 0 0;
}
.titlefoot {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 42px;
    font-weight: 700;
}
.parafoot {
    display:flex;
    color: white;
    margin: 0px 140px 45px;
    background-color: black;
    padding-left: 140px;
    margin-top: -60px;
    padding-bottom: 25px;
    border-radius: 0 0 6px 6px;
}
.but2 {
    margin-top: 20px;
    display: flex;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 4px 30px;
    border-color: white;
    border-radius: 6px;
    max-width: 180px;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
}
